<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>325482055572-2vh5sio8sdjjrvcn6gjaiu7a97h9cm65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325482055572-2vh5sio8sdjjrvcn6gjaiu7a97h9cm65</string>
	<key>API_KEY</key>
	<string>AIzaSyBy9PsQN98cAuIRskXFtycNOhE6wY-PDTg</string>
	<key>GCM_SENDER_ID</key>
	<string>325482055572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiozu.app</string>
	<key>PROJECT_ID</key>
	<string>radio-zu-f9512</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-zu-f9512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325482055572:ios:0ab608f7e3d2c539</string>
	<key>DATABASE_URL</key>
	<string>https://radio-zu-f9512.firebaseio.com</string>
</dict>
</plist>